#col-right{
	float: right;
	width: 60%;
	margin: 2% 0 0 0;
}

#col-right > .table-search{
	float: right;
	margin-right: 8px;
}

#col-left{
	width: 40%;
}

.form-style label,.form-style input{
	margin-top: 10px;
}

#btn-delete-category{
	width: 100px;
	margin-left: 8px;
	margin-bottom: 5px;
}

